body {
    background-color: #1C1C1C;
    font-family: 'Bebas Neue', cursive;
}

.col-4 {
    background-color: #1C1C1C;
    color: lightgray;
}

.col-8 {
    background-color: #1C1C1C;
}

.movie {
    border-color: rgb(155, 155, 28);
    border-style: solid;
    background-color: #6E6E6E;
    font-size: 15px;
    margin-right: 5%;
    margin-top: 2%;
    border-radius: 25px;
    margin-left: 5%;
}

.moviecontent {
    margin-left: 2%;
}

.moviebox {
    color: white;
}

.title {
    color: yellow;
    margin-left: 25%;
    font-family: 'Bebas Neue', cursive;
    font-size: 150px;
    text-shadow: 3px 3px 2px gray;
}